body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden { 
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.header-top {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	width: 100%;
	background-color: #293449;
} 

.logo {
	font-size: 24px;
	line-height: 24px;
	font-weight: 400;
	background-color: #ee3643;
	text-transform: uppercase;
	box-shadow: inset 0 -3px 0 0 #b52933;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:focus {
	background-color: #ba2732;
}	


.header-search input {
	border: 0px;
	font: inherit;
	background-color: #293449; 

}

.header-search input:hover {
	border: 0px;
	font: inherit;
	background-color: #212a3a
}	

input[type="search"]:focus {
	border: 0px;
	font: "Cuprum", Arial, sans-serif;
	color: #000000;

	background-color: #ffffff;
}	

.header-checkout {
	background-color: #63a63e;
}

.header-checkout:hover {
	background-color: #5fbb2d;
}

.header-checkout:focus {
	background-color: #518534;
	color: rgba(255,255,255,0.51)
}

.header-marker:hover,
.header-pannier:hover  {
background-color: #212a3a;
}


.header-marker:focus,
.header-pannier:focus {
background-color: #161d29;
color: rgba(255,255,255,0.60)
}


.header-top a {
	color: #ffffff;
}

.header-middle-slogan {
	font-family: inherit;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #ee3643;

}

.tel{
	font-family: inherit;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	color: #ee3643;
    border-style: solid;
    border-color:  #ffffff; 
    border-width: 2px;

}/*номер телефона*/

.adress {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
}/*адрес*/

.button {
	font: inherit;
	border-radius: 0;
}



.user-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus {
	color: rgba(0,0,0,0.3);
}	

.site-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -4px 0 0 #293449;
}

.site-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #ffffff;
}

.site-navigation a:hover{
	background-color: #212a3a;
}

.site-navigation a:focus{
	background-color: #161d29;
	color: (255,255,255,0.50)
}


.header{
	background-color: #f3f7f9;}

.block {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
}

.block-materials {
	background-color: #ffbf47;
}/*блок материалы*/

.block-tool {
	background-color: #3bbce3;
}/*блок инструменты*/

.block-mechanism {
	background-color: #dc91d8;
}/*блок техника*/

.block-sale {
	background-color: #8ed78f;
}/*блок скидки*/

.block-free {
	background-color: #ffc047;
}/*блок доставка*/

.block-link {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
    text-transform: uppercase; 

	background-color: rgba(0,0,0,0.1);
}

.block-link:hover{
	background-color: rgba(0,0,0,0.2);

}

.block-link:focus{
	background-color: rgba(0,0,0,0.3);

}

.btn-red {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
    text-transform: uppercase; 
    height: 38px;
	background-color: #ee3643;
	border-radius: 2px; 
}

.btn-red:hover{
	background-color: #ca2c37;
}

.btn-red:focus {
	background-color: #ba2732
}	

.main-topic {
	font-family: inherit;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
    text-transform: uppercase; 

	background-color: #f9f5f0;
}

.main-gds-list h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;

}/*имя товара*/

.old-price {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;
    text-decoration:line-through;

    background-color: #ffffff;
}/*старая цена*/

.button {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    

    background-color: #ee3643;

}/*цена товара*/

.main-services {
	background-color: #f4f8fa;
}

.services-item:focus {
	color: #32425c;
	background-color: #ffffff;
}

.main-manufact-image:hover {
	box-shadow: 0px 15px 30px 1px rgba(0,0,0,0.3); 

}

.main-manufact-image:focus {
	opacity:0.30;
}

.main-services-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}/*сервисы*/

.delivery-topic,
.guarantee-topic,
.credit-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	line-height: 24px;
	font-weight: 400;
	color: #32425c;
}/*доставка, гарантия, кредит*/

.main-services p {
	font: inherit;
}
.main-services-list a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;

	background: #32425c;
}/*покой*/
.main-services-list a:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;

	background: #293449;
}/*наведение*/

.main-services-list a:active {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #32425c;

	background: #ffffff;
}/*актив*/

.main-about-us h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.main-contacts h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}
.main-about-us li {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
}/*список транспортных компаний*/

.footer-container {
	background-color: #32425c;

}
.footer-top-logo {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	box-shadow: inset 0 -5px 0 0 #b52933;

	background-color: #ee3643; 
	}/*логотип*/

.footer-top-contacts {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f3f7f9;
}

.footer-top-list-first a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f3f7f9;
}

.footer-top-list-first a:hover {
	text-decoration: underline;
}

.footer-top-list-first a:focus {
	color: rgba(241,245,247,0.5);
}

.footer-top-list-second a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffda96;
}

.footer-top-list-second a:hover {
	text-decoration: underline;
}

.footer-top-list-second a:focus {
	color: rgba(255,209,128,0.5);
}

.footer-all {
	background-color: #293449;
}

.footer-bottom-copyright {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer-bottom-social a {
	color: #ffffff;
	background-color: #212a3a; 

}

.footer-bottom-social a:hover,
.footer-bottom-social a:focus
 {
	color: #ffffff;
	background-color: #ee3643; 

}

.footer-bottom-feedback p {
    font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer-bottom-feedback a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffda96;
}
.footer-bottom-feedback a:hover {
	text-decoration: underline;
}

.footer-link:focus {
	color: #ee3643;
}
.footer-mail:focus{
	color: #ffffff;
}


.write-us fieldset {

	border: none;
}

.write-us label {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.users-name,
.users-email,
.users-massage {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
	color: #a9a9a9
}

.btn-send {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 2px; 

}
/*стили для каталога:*/
.inner-page {
	color: #000000;

	background-color: #ffffff;
}

.users-name {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	color: #000000; 

	background-color: #ffffff;
}
.user-navigation-link a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	color: #32425c; 
	text-decoration: underline;
	background-color: #f1f5f7;
}

.users-name:focus {
	color: rgba(0,0,0,0.3);
}

.user-navigation-link a:focus {
	color: rgba(50,66,92,0.3);

}

.main-chain a {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

}

.main-topic-catalog {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c; 
	text-transform: uppercase;

	background-color: #f2f6f8;

}

.main-filter-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000; 
	text-transform: uppercase;

	background-color: #f7f3ec;
}	
.filter-topic {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;

}

.main-filter-form fieldset {
	border: none;
}

.min,
.max {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border: 0;

}
.manufacturer-checkbox,
.filter-option {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}
.filter-button {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.main-sorting {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000; 
	text-transform: uppercase;

	background-color: #f7f3ec;
}

.main-sorting-list a{
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;

    border-bottom: 1px dashed #ee3643;
}

.main-sorting-list a:hover {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    border-bottom: 1px solid #ee3643;
}

.main-sorting-list a:focus {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ee3643;
    text-transform: uppercase;

}
.button-buy {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #63a63e;
	box-shadow: inset 0 -1px 0 0 #367315;
	border-radius: 2px;
}

.button-buy:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #5fbb2d;
	box-shadow: inset 0 -1px 0 0 #367315;
	border-radius: 2px;
}

.button-buy:focus {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #518534;
	border-radius: 2px;
}
.button-mark {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: #63a63e;
	border-radius: 2px;
	border-style: solid;
}

.button-mark:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: #32425c;
	border-radius: 2px;
	border-style: solid;
}

.button-mark:focus {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(50,66,92,0.3);
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: rgba(50,66,92,0.3);
	border-radius: 2px;
	border-style: solid;
}
.list-hiden{
	list-style: none;
}
.filter-button,
.pagination-item a {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
	color: #000000;

	background-color: #ffffff;
	border-color: #e5e5e5;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}
.filter-button:hover,
.pagination-item a:hover {
	color: #000000;

	background-color: #ffffff;
	border-color: #bdc6ca;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}
.filter-button:focus,
.pagination-item a:focus {
	color: #000000;

	background-color: #ffffff;
	border-color: #ee3643;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.pagination-item-active a:hover,
.pagination-item-active a:focus,
.pagination-item-active a:active {
	color: #ffffff;

	background-color: #ee3643;
    border: 0px;
}
.info-about{
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #f2f6f8;
}
.info-about-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.cart-name{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}
.cart-btn{
	background-color: #f1f1f1;
}
.continue-shopping-btn{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
    text-transform: uppercase; 

	background-color: #ffffff;
	border-radius: 2px; 
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 960px;
	min-height: 3151px;
}
.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.heder{
	margin-bottom: 59px;
	min-height: 320px;
}

.header-top{
	height: 42px;
	
	
}

.header-top .container{
	display: flex;
 	justify-content: space-between;
}

.logo{
	margin:0;
	min-height: 47px;
	width: 220px;
	text-align:center;
}

.header-search{
	margin:0px;
	width: 270px;
	height: 42px;
}

.header-marker,
.header-pannier,
.header-checkout{
	width: 150px;
	height: 42px;
	text-align:center;
}

.header-bottom{
	min-height: 278px;
	min-width: 940px;
	margin-bottom: 60px;
}

.header-bottom .container{
	display: flex;
	
	justify-content: space-between;
	flex-wrap:wrap;
}

.header-middle-slogan{
	width: 300px;
	min-height: 158px;
	margin: 0px;
}

.header-middle-contacts{
	width: 270px;
	min-height: 158px;
	margin: 0px;

}
.user-navigation{
	width: 300px;
	min-height: 158px;
	margin: 0px;
}
 
.header-nav {
	width: 940px;
	min-height: 60px;
	margin: 0px;
	
}

.header-nav .container{
	padding: 0px;
	display: flex;
 	
 }
 	
.site-navigation {
	margin: 0px;
	padding: 0px;
	display: flex;
	
 	justify-content: space-around;
 	height: 60px;
 	width: 100%
}

.main-container-block{

	padding: 0px;
	width: 940px;
	min-height:409px;
	margin-bottom: 54px;
}

.block{ 
padding: 0px;
    margin-bottom: 20px; 
	min-height: 123px;
	width: 300px;
}

.gallery {

	margin:0px;
    padding: 0px;
	width: 621px;
	height: 266px;
}
.block-gallery{
	display: flex;
	flex-direction: column;

}
.btn-catalog{
	width: 196px;
	height: 38px;

}

.block-column{
	display: flex;
	flex-direction: column;
	height: 266px;
	align-items: flex-start;
}
.wrapper-block {
	display: flex;
	
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}
.wrapper-main-gds{
   display: flex;
   justify-content: space-between;
   background-color: #f9f5f0;
    margin-bottom: 20px;
}
.wrapper-main-manufact{
   display: flex;
   justify-content: space-between;
   background-color: #f9f5f0;
   margin-bottom: 20px;
}

.main-topic{
	margin: 0px;
	padding: 0px;
	width: 940px;
	min-height:89px;
	
}
.main-container-block{
	margin-bottom: 16px;
}

.btn-all-gds,
.btn-manufact {
	width: 253px;
	height: 38px;
}
.wrapper-gds{
	padding: 0px;
	width: 940px;
	min-height: 318px;
	margin-bottom: 21px;

}

.main-gds-item{
	margin: 0px;
	padding: 0px;
	width: 220px;
	min-height: 318px;

	border-style: solid;
    border-color: #eaeaea;
    border-width: 1px; 
    text-align:center;
}
	
.main-gds-list{
	padding: 0px;
	margin: 0px;
	display: flex;

	
	justify-content: space-between;
	
}
.main-manufact{
	margin-bottom: 65px;

}
.manufact-item{
	width: 220px;
	min-height: 143px;
	 border-style: solid;
    border-color: #eaeaea;
    border-width: 1px; 
    margin-bottom: 20px;

}
.main-manufact-list{
	margin: 0px;
	padding: 0px;
	display: flex;
	
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.services-item{
	padding: 0px;
	margin: 0px;
	display: block;
	width: 240px;
	height: 61px;
}
.main-services{
	padding: 0px;
	min-height: 522px;
	margin-bottom: 77px; 
}
.wrapper-services{
	
	padding-top: 63px;
	display: flex;
	flex-direction: column;

}
.services-row{
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: flex-start;

	
}
.block-services{
	padding-top: 0px;
	width: 460px;
	height: 170px; 
}
.main-services-topic{
	margin-top: 0px;
	padding: 0px;
}
.main-services-slogan{
	margin: 0px;
}


.main-services-list{
	display: inline-block;
	margin:0px;
	padding: 0px;
	width: 240px;
	min-height: 279px;
	padding-left: 0px;
}
.delivery-topic{
	padding: 0px;
	margin-top: 4px;
	margin-bottom: 33px;
}

.wrapper-block-delivery{
	padding-top: 0px;
	width: 340px;
	min-height: 279px;
	padding-left: 80px;
}
.main-about-us{
	padding: 0px;
	min-height: 300px;
	width: 560px;
}
.main-about-us-topic{
	margin-top: 0px;
	margin-bottom: 30px;
	text-transform: uppercase;
}
.main-about-us-slogan{
	margin-top: 0px; 
	margin-bottom: 22px;
}

.main-transport-companies-list{
	padding-bottom: 37px;
	margin: 0px;
}
.main-contacts-topic{
	margin: 0px;
	margin-bottom: 30px;
}
.companies-item{
	margin-top: 20px;
	margin-bottom: 0px;
}

.main-contacts{
	padding: 0px;
	width: 300px;
	min-height: 300px;
}
.main-contacts-slogan{
	margin: 0px;
	padding-bottom: 30px;
}
.main-contacts-map{
	padding-bottom: 33px;
	margin: 0px;
}

.wrapper-about-us{
	display: flex;

	justify-content: space-between;
}

.footer-all{
	margin-top:87px;
	min-height: 300px;
	width: auto;
}
.wrapper-footer-container{
	background-color: #32425c;
	width: 100%;
}

.footer-container{
	justify-content: space-between;
	display: flex;
	
	min-height: 193px;
	margin-top: 86px;
	
}

.footer-top-logo{
	width: 220px;
	padding-top: 19px;
	padding-bottom: 19px;
	margin: 0px;
	
	text-align: center;
	margin-bottom: 30px;
}

.footer-top-contacts{
	padding: 0px;
	margin: 0px;
}

.footer-top{
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.footer-top-list-first{
	display: flex;
	

	align-items: flex-end;
	justify-content: space-between;
}
.footer-top-list-second{
	display: flex;
	
	align-items: flex-end;
	justify-content: space-between;
}
.footer-bottom-copyright{
	margin: 0px;
	padding: 0px;
	width: 300px;
	min-height: 107px;
	padding-top: 36px;

}
.footer-bottom-social{
	width: 300px;
	min-height: 107px;
	padding: 0px;
}
.footer-bottom-feedback{
	width: 340px;
	min-height: 107px;
}
.wrapper-footer-bottom{
	align-items: center;
	height: 107px;
	display: flex;
	
}
.wrapper-feedback{
	padding:0px;
	display: flex;
	
	justify-content: space-between;
}

.write-us {
	display: none;
}	
.btn-about-us{
	display: block;
	height: 38px;
	width: 220px;	
}
.btn-write{
	display: block;
	width: 300px;
	height: 38px;
}

.btn-catalog,
.gallery{
	position: relative;
}
.btn-catalog { z-index: 2; }
.gallery { z-index: 1; }
 
.btn-catalog {
	top: -60px; 
    left: 25px; }