body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
	text-decoration: none;
}

.visually-hidden { 
	position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-top {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
	width: 100%;
	
	background-color: #293449;
} 

.logo {
	font-size: 24px;
	line-height: 24px;
	background-color: #ee3643;
	text-transform: uppercase;
	box-shadow: inset 0 -5px 0 0 #b52933;


}

.logo:hover {
	background-color: #ca2c37;
}

.logo:focus {
	background-color: #ba2732;
}	
.header-search-block::-webkit-input-placeholder {
 	color:#ffffff;
}

.header-search input {
	padding-right: 70px;
	width: 270px;
    border: 0px;
	font: inherit;
	background-color: #293449; 
}

.header-search input:hover {
	border: 0px;
	font: inherit;
	background-color: #212a3a
}	

input[type="search"]:focus {
	border: 0px;
	font: "Cuprum", Arial, sans-serif;
	color: #000000;
	background-color: #ffffff;
}	

.header-checkout {
	background-color: #63a63e;
}

.header-checkout:hover {
	background-color: #5fbb2d;
}

.header-checkout:focus {
	background-color: #518534;
	color: rgba(255,255,255,0.51)
}

.header-marker:hover,
.header-pannier:hover  {
	background-color: #212a3a;
}

.header-marker:focus,
.header-pannier:focus {
	background-color: #161d29;
	color: rgba(255,255,255,0.60)
}

.header-top a {
	color: #ffffff;
	text-align: center;
	
	
}

.header-middle-slogan {
	font-family: "Cuprum", Arial, sans-serif;
	font-style: italic;
	font-size: 16px;
	line-height: 23px;
	font-weight: 400;
	color: #ee3643;
	
}

.tel{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	color: #ee3643;
    text-align:center;

    border-style: solid;
    border-color:  #ffffff; 
    border-width: 3px;
    padding-right:40px; 
    padding-left: 60px;
    padding-top:10px;
    padding-bottom:11px;
    width: 165px;
   
    position: relative;
    top:25px;
    right: 15px;
   
}/*номер телефона*/

.tel::before {
	content: "";
	width: 18px;
	height:19px;
	margin-right: 0px;
	background-image: url("../img/icon-phone.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 12px;
	top:10px;
	
}

.adress {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
	padding-top: 10px;
	padding-left: 5px;
	position: relative;
    top:-2px;
    left: -10px;
}/*адрес*/

.user-navigation-list{
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	width: 282px;
	position: relative;
}

.login{
	padding-left: 47px;
	padding-right: 25px;
	width: 50px;
	display: block;
	padding-top: 13px;
	padding-bottom: 13px;
	position: absolute;
	top:46px;
	right:141px;
}

.check-in{
	display: block;
	padding: 13px 24px;
	position: absolute;
	top:46px;
	right: -18px;
}

.button {
	font: inherit;
	border-radius: 0;
}
.login::before{
	content: "";
	width: 20px;
	height:17px;
	margin-right: 0px;
	background-image: url("../img/icon-login.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 14px;
	top:13px;
	opacity: 0.3;

}
.login:hover::before{
	content: "";
	width: 20px;
	height:17px;
	margin-right: 0px;
	background-image: url("../img/icon-login-hover.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 14px;
	top:13px;
	opacity:1;
}

.user-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.user-navigation a:hover {
	color: #ee3643;
}

.user-navigation a:focus {
	color: rgba(0,0,0,0.3);
}	

.site-navigation {
	background-color: #32425c;
	box-shadow: inset 0 -4px 0 0 #293449;
}

.site-navigation a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: 400;
	color: #ffffff;
	display: block;
	padding-top: 20px;
	padding-bottom: 22px;
	padding-left:33px;
	padding-right: 33px;
}

.site-navigation a:hover{
	background-color: #212a3a;
}

.site-navigation a:focus{
	background-color: #161d29;
	color: (255,255,255,0.50)
}

.header{
	background-color: #f3f7f9;}

.block {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	position: relative;
}

.block-materials {
	background-color: #ffbf47;
}/*блок материалы*/
.icon-1 {
	margin: 0px;
	padding: 0px;
	position: relative;
	top:-19px;
	right: -213px;
} 

.block p {
	margin: 0px;
	padding-left: 22px;
	padding-top: 20px; 
}

.block-tool {
	background-color: #3bbce3;
}/*блок инструменты*/
.icon-2{
	margin: 0px;
	padding: 0px;
	position: relative;
	top:-17px;
	right: -197px;
}

.block-mechanism {
	background-color: #dc91d8;
}/*блок техника*/
.icon-3{
	margin: 0px;
	padding: 0px;
	position: relative;
	top:-19px;
	right: -191px;
}

.block-sale {
	background-color: #8ed78f;
}/*блок скидки*/

.icon-4{
	margin: 0px;
	padding: 0px;
	position: relative;
	top:-24px;
	right: -196px;
}

.block-free {
	background-color: #ffc047;
}/*блок доставка*/

.icon-5{
	margin: 0px;
	padding: 0px;
	position: relative;
	top:-19px;
	right: -191px;
}

.block-link {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
    text-transform: uppercase; 

	background-color: rgba(0,0,0,0.1);
	width: 135px;
	text-align: center;
	vertical-align: middle;
	padding-top:10px;
	padding-bottom: 10px;
	border-radius:3px;
	position: absolute;
	left: 23px;
	bottom: 22px;

}

.block-link:hover{
	background-color: rgba(0,0,0,0.2);

}

.block-link:focus{
	background-color: rgba(0,0,0,0.3);

}

.btn-red {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	
	color: #ffffff;
    text-transform: uppercase; 
   
	background-color: #ee3643;
	border-radius: 2px; 
	text-align:center;
}

.btn-red:hover{
	background-color: #ca2c37;
}

.btn-red:focus {
	background-color: #ba2732
}	

.main-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #32425c;
    text-transform: uppercase; 

	background-color: #f9f5f0;

}

.main-gds-list h3 {
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;

    background-color: #ffffff;
}/*имя товара*/

.old-price {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;
    text-decoration:line-through;
    min-height:20px;
    margin-top:15px;
    margin-bottom:10px;

    background-color: #ffffff;
}/*старая цена*/

.button {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;

    background-color: #ee3643;
}/*цена товара*/

.main-services {
	background-color: #f4f8fa;
}

.services-item:focus {
	color: #32425c;
	background-color: #ffffff;
}
.main-manufact-image{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	align-content: center;
	display: flex;
	 
}
.image-BOSCH{
	position: absolute;
	top:52px;
	left: 46px;
}

.image-Makita{
	position: absolute;
	top:49px;
	left: 47px;
}

.image-DeWALT{
	position: absolute;
	top:47px;
	left: 36px;
}

.image-interscol{
	position: absolute;
	top:52px;
	left: 18px;
}

.image-hitachi{
	position: absolute;
	top:57px;
	left: 27px;
}
.image-lg{
	position: absolute;
	top:34px;
	left: 47px;
}
.image-aeg{
	position: absolute;
	top:22px;
	left: 34px;
}
.image-metabo{
	position: absolute;
	top:33px;
	left: 9px;
}
.main-manufact-image:hover {
	box-shadow: 0px 15px 30px 1px rgba(0,0,0,0.3); 
}

.main-manufact-image:focus {
	opacity:0.30;
}

.main-services-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}/*сервисы*/

.delivery-topic,
.guarantee-topic,
.credit-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 36px;
	line-height: 24px;
	font-weight: 400;
	color: #32425c;
}/*доставка, гарантия, кредит*/

.main-services p {
	font: inherit;
}

.main-services-list a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;

	background: #32425c;
}/*покой*/

.main-services-list a:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;

	background: #293449;
}/*наведение*/

.main-services-list a:active {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	color: #32425c;

	background: #ffffff;
}/*актив*/

.main-about-us h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.main-contacts h3 {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.main-about-us li {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
	color: #000000;
}/*список транспортных компаний*/

.footer-container {
	background-color: #32425c;
}

.footer-top-logo {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	font-weight: 400;
	color: #ffffff;
	box-shadow: inset 0 -5px 0 0 #b52933;

	background-color: #ee3643; 
}/*логотип*/

.footer-top-contacts {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f3f7f9;
}

.footer-top-list-first a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #f3f7f9;
}

.footer-top-list-first a:hover {
	text-decoration: underline;
}

.footer-top-list-first a:focus {
	color: rgba(241,245,247,0.5);
}

.footer-top-list-second a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	color: #ffda96;
}

.footer-top-list-second a:hover {
	text-decoration: underline;
}

.footer-top-list-second a:focus {
	color: rgba(255,209,128,0.5);
}

.footer-all {
	background-color: #293449;
}

.footer-bottom-copyright {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer-bottom-social a {
	color: #ffffff;
	background-color: #212a3a; 
}

.footer-bottom-social a:hover,
.footer-bottom-social a:focus {
	color: #ffffff;
	background-color: #ee3643; 
}

.footer-bottom-feedback p {
    font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;
}

.footer-bottom-feedback a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	line-height: 18px;
	font-weight: 400;
	color: #ffda96;
}

.footer-bottom-feedback a:hover {
	text-decoration: underline;
}

.footer-link:focus {
	color: #ee3643;
}

.footer-mail:focus{
	color: #ffffff;
}

.write-us fieldset {
	border: none;
}

.write-us label {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
}

.users-name,
.users-email,
.users-massage {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
	color: #a9a9a9
}

.btn-send {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #ffffff;

	background-color: #ee3643;
	border-radius: 2px; 
}
/*стили для каталога:*/
.inner-page {
	color: #000000;
	background-color: #ffffff;
}

.users-name {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 21px;
	color: #000000; 
	padding-top:10px;
    padding-bottom: 10px;
	padding-left: 47px;
	padding-right: 68px;
	width: 300px;
	position: relative;
	top:46px;
	right:0px;

	background-color: #ffffff;
}
.users-name::before{
	content: "";
	width: 20px;
	height: 18px;
	margin-right: 0px;
	background-image: url("../img/icon-user.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 13px;
	bottom: 13px;
	

}
.users-name::after
{
	content: "";
	width: 20px;
	height: 17px;
	margin-right: 0px;
	background-image: url("../img/icon-logout.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	right: 11px;
	bottom: 13px;
	

}
.users-name:hover::before{
	opacity: 1;
	background-image: url("../img/icon-user-hover.svg");
}

.users-name:hover::after{
	opacity: 1;
	background-image: url("../img/icon-logout-hover.svg");
}
.users-name:focus::before{
	opacity: 0.3;
	background-image: url("../img/icon-user.svg");
}

.users-name:focus::after{
	opacity: 0.3;
	background-image: url("../img/icon-logout.svg");
}


.user-navigation-link a {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 16px;
	color: #32425c; 
	text-decoration: underline;
	background-color: #f1f5f7;
}

.users-name:focus {
	color: rgba(0,0,0,0.3);
}

.user-navigation-link a:focus {
	color: rgba(50,66,92,0.3);
}

.main-chain a {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.main-topic-catalog {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 30px;
	color: #32425c; 
	text-transform: uppercase;

	background-color: #f2f6f8;
}

.main-filter-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000; 
	text-transform: uppercase;

	background-color: #f7f3ec;
}	

.filter-topic {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}

.main-filter-form fieldset {
	border: none;
}

.min,
.max {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #f7f3ec;
    border: 0;
}

.manufacturer-checkbox,
.filter-option {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}

.filter-button {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}

.main-sorting {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 13px;
	line-height: 18px;
	color: #000000; 
	text-transform: uppercase;

	background-color: #f7f3ec;
}

.main-sorting-list a{
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0,0,0,0.3);
    text-transform: uppercase;

    border-bottom: 1px dashed #ee3643;
}

.main-sorting-list a:hover {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;

    border-bottom: 1px solid #ee3643;
}

.main-sorting-list a:focus {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ee3643;
    text-transform: uppercase;
}

.button-buy {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #63a63e;
	box-shadow: inset 0 -1px 0 0 #367315;
	border-radius: 2px;
}

.button-buy:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #5fbb2d;
	box-shadow: inset 0 -1px 0 0 #367315;
	border-radius: 2px;
}

.button-buy:focus {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #518534;
	border-radius: 2px;
}

.button-mark {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: #63a63e;
	border-radius: 2px;
	border-style: solid;
}

.button-mark:hover {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: #32425c;
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: #32425c;
	border-radius: 2px;
	border-style: solid;
}

.button-mark:focus {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	font-weight: 400;
	color: rgba(50,66,92,0.3);
	text-transform: uppercase;

	background-color: #ffffff;
	border-color: rgba(50,66,92,0.3);
	border-radius: 2px;
	border-style: solid;
}

.list-hiden{
	list-style: none;
}

.filter-button,
.pagination-item a {
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
	color: #000000;

	background-color: #ffffff;
	border-color: #e5e5e5;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.filter-button:hover,
.pagination-item a:hover {
	color: #000000;

	background-color: #ffffff;
	border-color: #bdc6ca;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.filter-button:focus,
.pagination-item a:focus {
	color: #000000;

	background-color: #ffffff;
	border-color: #ee3643;
	border-radius: 2px;
	border-style: solid;
	border-width: 1px;
}

.pagination-item-active a:hover,
.pagination-item-active a:focus,
.pagination-item-active a:active {
	color: #ffffff;

	background-color: #ee3643;
    border: 0px;
}

.info-about{
	font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    
    background-color: #f2f6f8;
}

.info-about-topic {
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 24px;
	font-weight: 400;
	color: #000000;
}

.cart-name{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 30px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;

	background-color: #ffffff;
}

.cart-btn{
	background-color: #f1f1f1;
}

.continue-shopping-btn{
	font-family: "Cuprum", Arial, sans-serif;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	color: #000000;
    text-transform: uppercase; 

	background-color: #ffffff;
	border-radius: 2px; 
}

/* ----- Сеточные стили ----- */

html,
body {
	min-width: 960px;
}

.container {
    width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.heder {
	margin-bottom: 59px;
	
}

.header-top .container {
	display: flex;
 	justify-content: space-between;

}
.header-top {
	height: 42px;

}

.logo{
	padding: 0px;
	margin:0px;
	min-width: 220px;
	text-align:center;
	padding-top: 10px;
	padding-bottom: 13px;

	
	
}
.header-search-block {
	min-width: 270px;
	padding-left: 50px;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-right:50px;
}

.header-search::before{
	content: "";
	width: 17px;
	height:17px;
	margin-right: 0px;
	background-image: url("../img/icon-search.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left:17px;
	top:12px;
	opacity: 0.3;
}
.header-search:hover::before{
	content: "";
	width: 17px;
	height:17px;
	margin-right: 0px;
	background-image: url("../img/icon-search.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left:17px;
	top:12px;
	opacity: 1;
}

.header-search{
	margin:0px;
	width: 270px;
	position: relative;
}
.header-marker::before {
	content: "";
	width: 14px;
	height:16px;
	margin-right: 0px;
	background-image: url("../img/icon-bookmark.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 18px;
	top:12px;
	opacity: 0.3;
}

.header-marker:hover::before {
	content: "";
	width: 14px;
	height:16px;
	margin-right: 0px;
	background-image: url("../img/icon-bookmark.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 18px;
	top:12px;
	opacity: 1;
}

.header-pannier::before {
	content: "";
	width: 15px;
	height:15px;
	margin-right: 0px;
	background-image: url("../img/icon-cart.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 18px;
	top:12px;
	opacity: 0.3;
}

.header-pannier:hover::before {
	content: "";
	width: 15px;
	height:15px;
	margin-right: 0px;
	background-image: url("../img/icon-cart.svg");
	background-color: inherit;
	background-position:0 0;
	position: absolute;
	left: 18px;
	top:12px;
	opacity: 1;
}

.header-marker{
	min-width: 83px;
	height: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left:42px;
	padding-right:25px;
	position: relative;
	
}	

.header-pannier{
	min-width: 84px;
	height: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left:45px;
	padding-right:21px;
	position: relative;
	
}	

.header-checkout{
	min-width: 110px;
	height: 18px;
	padding-top: 12px;
	padding-bottom: 12px;
	padding-left:19px;
	padding-right:21px;
	position: relative;
	left: 

}	

.header-bottom{
	min-height: 278px;
	min-width: 940px;
	margin-bottom: 60px;
}

.header-bottom .container{
	display: flex;
	
	justify-content: space-between;
	flex-wrap:wrap;
}
.site-slogan h1{
	margin: 0px;
	width: 300px;
	position: relative;
	top:49px;
	left: 52px;
}
.header-middle-slogan{
	position: absolute;
	top:80px;
	left:257px;
	
}

.header-middle-contacts{
	width: 270px;
	
	margin: 0px;
}

.user-navigation{
	width: 300px;
	min-height: 158px;
	margin: 0px;
}
 
.header-nav {
	width: 940px;
	min-height: 60px;
	margin: 0px;
}

.header-nav .container{
	padding: 0px;
	display: flex;
}
 	
.site-navigation {
	margin: 0px;
	padding: 0px;
	display: flex;
	justify-content: space-around;
 	width: 100%
 	padding-left:10px;
 	padding-right: 10px;
}

.main-container-block{
	padding: 0px;
	width: 940px;
	min-height:409px;
	margin-bottom: 54px;
}

.block{ 
	padding: 0px;
    margin-bottom: 20px; 
	min-height: 123px;
	width: 300px;
}

.gallery {
	margin:0px;
    padding: 0px;
	width: 621px;
	height: 266px;

}

.block-gallery {
	position: relative;
	display: flex;
	flex-direction: column;
}

.btn-catalog {
	margin: 0px;
	padding: 0px;
	width: 195px;
	padding-top: 10px;
	padding-bottom: 10px;
}


.block-column {
	display: flex;
	flex-direction: column;
	height: 266px;
	align-items: flex-start;
}

.wrapper-block {
	display: flex;
	
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
}

.wrapper-main-gds{
   display: flex;
   justify-content: space-between;
   background-color: #f9f5f0;
    margin-bottom: 19px;
}

.wrapper-main-manufact{
   display: flex;
   justify-content: space-between;
   background-color: #f9f5f0;
   margin-bottom: 20px;
}

.main-topic{
	margin: 0px;
	padding: 0px;
	width: 940px;
	padding-left: 29px;
	padding-top: 28px;
	padding-bottom: 30px;
}

.wrapper-main-manufact .main-topic{
	margin: 0px;
	padding: 0px;
	width: 940px;
	padding-left: 25px;
	padding-top: 31px;
	padding-bottom: 29px;
}

.btn-all-gds {
	width: 257px;
	height: 18px;
	position: relative;
	top:23px;
	right: 24px;
	padding: 10px 36px;
	border-radius: 3px;
}

.btn-manufact {
	width: 257px;
	height: 18px;
	position: relative;
	top:26px;
	right: 24px;
	padding: 10px 36px;
	border-radius: 3px;
}

.wrapper-gds{

	padding: 0px;
	width: 940px;
	min-height: 318px;
	margin-bottom: 0px;
}

.main-gds-item{
	margin: 0px;
	padding: 0px;
	width: 218px;
	height: 316px;
	margin-bottom: 20px;
	border-style: solid;
    border-color: #eaeaea;
    border-width: 1px; 
    text-align:center;

    position: relative;
    display: inline-block;
}
	
.main-gds-list{
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: space-between;
}

.main-gds-item .flag {
    position:absolute;
    top:-1px;
    right:-1px;
    width:60px;
    height:60px;
    text-indent:-1000px;
    overflow:hidden;
     z-index:20;
}

.main-gds-item .flag-new{
	background:url("img/new-flag.png") no-rereat 0 0;
} 
.main-gds-item .actions{
	position: absolute;
	top:0px;
	left:0px;
	width: 218px;
	height: 88px;
	padding:40px 0;
	background-color: rgba(255,255,255,0.9);
	z-index: 10;
}
.main-gds-image{
	width: 218px;
	height: 168px;
}
.main-gds-image img{
	max-width: 100%;
}

.main-gds-item-price .button {
	padding: 0px;
	position:relative;
    width:90px;

    margin:10px auto;
    margin-bottom:20px;
    padding:9px 37px;
    color:white;
    background:#ee3643;
    border-radius:3px;

}
.main-gds-item-price .button:after{
    content:"";
    position:absolute;
    top:0;
    right:-20px;
    width:0;
    height:0;
    border:20px solid white;
    border-left-color:#ee3643;
}

 .main-gds-item .button-buy,
 .main-gds-item .button-mark {
    display:block;
    width:129px;
    margin:0 auto;
    margin-bottom:7px;
    padding:7px 0;
    border:3px solid #63a63e;
    border-bottom-color:#367315; 
    background-color:#63a63e;
    color:white;
    font-size:14px;
    font-weight:normal;
    font-family:"Cuprum", sans-serif;
    line-height:18px;
    text-decoration:none;
    text-transform:uppercase;    
    border-radius:3px;
}
.main-gds-item .button-mark {
    color:#32425c;
    background:white;
    border-bottom-color:#63a63e;
}
.main-gds-item .actions{
	display: none;
}
.main-gds-item:hover .actions{
	display: block;
}

.main-gds-item  h3 {
	margin: 0px;
}
.main-gds-item .main-gds-category{
	min-height:40px;
    padding:0 25px;
    margin-top:10px;
    margin-bottom:15px;
 }

.main-manufact{
	margin-bottom: 65px;
}

.manufact-item{
	width: 218px;
	min-height: 143px;
	border-style: solid;
    border-color: #eaeaea;
    border-width: 1px; 
    margin-bottom: 20px;
    position: relative;
}

.main-manufact-list{
	margin: 0px;
	padding: 0px;
	display: flex;
	
	justify-content: space-between;
	flex-wrap: wrap;

}

.services-item{
	padding: 0px;
	margin: 0px;
	display: block;
	width: 240px;
	height: 61px;
}

.main-services{
	padding: 0px;
	min-height: 522px;
	margin-bottom: 82px; 
}

.wrapper-services{
	padding-top: 63px;
	display: flex;
	flex-direction: column;
}

.services-row{
	padding: 0px;
	margin: 0px;
	display: flex;
	justify-content: flex-start;
}

.block-services{
	padding-top: 0px;
	width: 460px;
	height: 170px; 
}

.main-services-topic{
	margin-top: 0px;
	padding: 0px;
}

.main-services-slogan{
	margin: 0px;
}

.main-services-list{
	display: inline-block;
	margin:0px;
	padding: 0px;
	width: 240px;
	min-height: 279px;
	padding-left: 0px;
}

.delivery-topic{
	padding: 0px;
	margin-top: 4px;
	margin-bottom: 33px;
}

.wrapper-block-delivery{
	padding-top: 0px;
	width: 340px;
	min-height: 279px;
	padding-left: 80px;
}

.main-about-us{
	padding: 0px;
	min-height: 300px;
	width: 560px;
}

.main-about-us-topic{
	margin-top: 0px;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.main-about-us-slogan{
	margin-top: 0px; 
	margin-bottom: 22px;
}

.main-transport-companies-list{
	padding-bottom: 37px;
	margin: 0px;
}

.main-contacts-topic{
	margin: 0px;
	margin-bottom: 30px;
}

.companies-item{
	margin-top: 20px;
	margin-bottom: 0px;
}

.main-contacts{
	padding: 0px;
	width: 300px;
	min-height: 300px;
}

.main-contacts-slogan{
	margin: 0px;
	padding-bottom: 30px;
}

.main-contacts-map{
	padding-bottom: 33px;
	margin: 0px;
}

.wrapper-about-us{
	display: flex;
	justify-content: space-between;
}

.footer-all{
	
	min-height: 300px;
	width: auto;
}

.wrapper-footer-container {
	background-color: #32425c;
	width: 100%;
}

.footer-container {
	justify-content: space-between;
	display: flex;
	
	min-height: 193px;
	
}

.footer-top-logo {
	width: 220px;
	padding-top: 19px;
	padding-bottom: 19px;
	margin: 0px;
	text-align: center;
	margin-bottom: 30px;
}

.footer-top-contacts{
	padding: 0px;
	margin: 0px;
}

.footer-top{
	margin: 0px;
	display: flex;
	flex-direction: column;
}

.footer-top-list-first{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.footer-top-list-second{
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.footer-bottom-copyright{
	margin: 0px;
	padding: 0px;
	width: 300px;
	min-height: 107px;
	padding-top: 36px;
}

.footer-bottom-social{
	width: 300px;
	text-align:center;

}
.social-button {
 	width: 40px;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;

  background-color: inherit;
  border-radius: 50%;
}

.footer-bottom-social ul {
	padding:0px; 
	padding-left: 91px;
  display: flex;
  width: 130px;
  list-style: none;
  flex-wrap: wrap;
  justify-content: space-between;

}

.footer-bottom-feedback{
	width: 340px;
	min-height: 107px;
}

.wrapper-footer-bottom{
	align-items: center;
	height: 107px;
	display: flex;
}

.wrapper-feedback{
	padding:0px;
	display: flex;
	
	justify-content: space-between;
}

.write-us {
	display: none;
}	

.btn-about-us{
	display: block;
	width: 220px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.btn-write{
	display: block;
	width: 300px;
	padding-top: 10px;
	padding-bottom: 10px;
	
}
.gallery-button .gallery-button-back{ 
	position: relative;
	z-index: 2; 
	top:111px; 
    left: 24px; 
}
.gallery-button .gallery-button-next{ 
	position: relative;
	z-index: 2; 
	top:68px; 
    left: 578px; 
}

.btn-catalog { 
	position: relative;
	z-index: 2; 
	top:116px; 
    left: 25px; 
}

.gallery { 
	position: absolute;
	z-index: 1; 
}

.gallery-button-back{
	position: absolute;
	top:40px;
	left: 0px;
	width: 25px;
	height: 43px;
}


/*сеточные стили для внутренней страницы*/
.cart {
	 display: none
}

.inner-page header {
	min-height: 320px;
	margin-bottom: 20px;
	padding: 0px;
	margin: 0px;
	min-width: 100%;
}

.inner-page .header-bottom {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 18px;
}

.inner-page .header-nav {
	padding-bottom:60px;
}

.main-chain {
	display: flex;
	justify-content: space-between;
	padding: 0px;
	padding-bottom: 18px;
	min-height: 18px;
}
.main-topic-catalog{
	min-height: 89px;
	margin: 0px;
	margin-bottom: 20px;
}

.wrapper-filter{
	min-height: 1202px;
	width: 220px;
}
.wrapper-sorting{
	min-height: 1202px;
	width: 700px;
}
.catalog-columns{
	display: flex;
	justify-content: space-between;
	
}
.main-filter-topic {
	min-height: 38px;
	min-width: 220px;
	margin:0px;
	border-radius: 2px;
}
.main-sorting-topic {
	margin:0px;
	border-radius: 2px;
}
.main-sorting-list{
	min-width: 470px;
	display: flex;
	justify-content: space-between;
	padding:0px;
	margin:0px;
}

.main-sorting {
	margin-bottom: 20px;
	min-height: 38px;
	min-width: 700px;
	display: flex;
	justify-content: space-between;
}
.main-gds-list{

	display: flex;
	flex-wrap: wrap;
	text-align:center;
}
.pagination-item{
	display: inline-block;
	margin-right: 6px;
}
.pagination-number{
	min-width: 37px;
	min-height: 38px;
	display: block;
	text-align:center;
}

.button-next{
	min-width: 138px;
	min-height: 38px;
	display: block;
	text-align:center;
}

.pagination-list{
	margin:0px;
	padding: 0px;
	margin-top:30px;
}


.main-filter-range{
	margin:0px;
	display: block;
	width: 220px;
	min-height: 81px;
	background: #f7f3ec;
	margin-bottom: 7px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

}
.min{
	
	width: 95px;
	min-height: 36px;
	border-radius: 3px;

}

.max {

	width: 95px;
	min-height: 36px;
	border-radius: 3px;
}

.wrapper-pices {
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 25px;
	margin-bottom: 16px;
}
.main-filter-wrapper{
	margin: 0px;
	padding: 0px;
}

.main-filter-topic{
	margin-bottom: 10px; 
}

.filter-topic{
	margin-bottom: 15px; 
}

.wrapper-manufacturer {
	margin: 0px;
	padding: 0px;
	display: flex;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;
}
.main-filter-option{
	margin-bottom: 20px;
}

.manufacturer-checkbox{
	margin: 0px;
	padding: 0px;
}
	
.wrapper-filter-option {
	margin: 0px;
	padding: 0px;
	display: flex;
	margin-bottom: 58px;
 }
.filter-option {
	margin: 0px;
	padding: 0px;
}

.filter-button {
	margin: 0px;
	padding: 0px;
	width: 140px;
	height: 38px;
}

.info-about-topic{
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
}
.wrapper-info-about{
	width: 100%;
	background-color: #f2f6f8;
}
.information	{
	margin: 0px;
	padding-bottom: 67px;
}
.info-about {
	padding-top:67px;


}
.footer-all-catalog{
	background-color: #293449;
	margin:0px;
	padding: 0px;
	min-height: 300px;
	width: auto;
}
body .inner-page {
	height: 2249px;
}
.main-part{
	
	margin-bottom: 85px;
}
.main-catalog{
	min-height: 1540px;
}
.inner-page .header-pannier {
	background-color: #ee3643;
}
.inner-page .header-pannier:hover  {
background-color:  #ca2c37;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
