body {
    margin: 0;
    padding: 0;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
a {
    text-decoration: none;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.header-top {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    width: 100%;
    background-color: #293449;
}
.logo {
    font-size: 24px;
    line-height: 24px;
    background-color: #ee3643;
    text-transform: uppercase;
    box-shadow: inset 0 -5px 0 0 #b52933;
}
.footer-top-logo:hover,
.logo:hover {
    background-color: #ca2c37;
}
.footer-top-logo:focus,
.logo:focus {
    background-color: #ba2732;
}
.header-search-block::-webkit-input-placeholder {
    color: #ffffff;
    z-index: 1;
}
.header-search-block::-moz-placeholder {
    color: #ffffff;
    z-index: 1;
}
.header-search-block:-ms-input-placeholder {
    color: #ffffff;
    z-index: 1;
}
.header-search input {
    padding-right: 70px;
    width: 270px;
    border: 0px;
    font: inherit;
    background-color: #293449;
}
.header-search input:hover {
    border: 0px;
    font: inherit;
    background-color: #212a3a
}
input[type="search"]:focus {
    border: 0px;
    font: "Cuprum", Arial, sans-serif;
    color: #000000;
    background-color: #ffffff;
    position: relative;
    z-index: 10;
}
.header-checkout {
    background-color: #63a63e;
}
.header-checkout:hover {
    background-color: #5fbb2d;
}
.header-checkout:focus {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.51)
}
.header-marker:hover,
.header-pannier:hover {
    background-color: #212a3a;
}
.header-marker:focus,
.header-pannier:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.60)
}
.header-top a {
    color: #ffffff;
    text-align: center;
}
.header-middle-slogan {
    font-family: "Cuprum", Arial, sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 23px;
    font-weight: 400;
    color: #ee3643;
}
.tel {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 18px;
    font-weight: 400;
    color: #ee3643;
    text-align: center;
    border-style: solid;
    border-color: #ffffff;
    border-width: 3px;
    padding-right: 45px;
    padding-left: 65px;
    padding-top: 10px;
    padding-bottom: 11px;
    width: 155px;
    position: relative;
    margin: 0;
}
/*номер телефона*/

.tel::before {
    content: "";
    width: 18px;
    height: 19px;
    margin-right: 0px;
    background-image: url("../img/icon-phone.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 12px;
    top: 10px;
}
.adress {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #32425c;
    padding-top: 4px;
    text-align: center;
    margin: 0;
}
/*адрес*/

.user-navigation-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    width: 280px;
    position: relative;
}
.user-navigation-link {
    margin: 0px;
    padding: 0px;
    padding-left: 18px;
    width: 209px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.user-navigation-link li:last-child {
    position: relative;
}
.user-navigation-link li:last-child::after {
    content: "";
    display: block;
    border-radius: 5px;
    position: absolute;
    left: -16px;
    top: 45%;
    width: 4px;
    height: 4px;
    margin: 0px;
    background-color: #32425c;
}
.login {
    padding-left: 47px;
    padding-right: 25px;
    width: 50px;
    display: block;
    padding-top: 13px;
    padding-bottom: 13px;
}
.check-in {
    display: block;
    padding: 13px 24px;
}
.button {
    font: inherit;
    border-radius: 0;
}
.login::before {
    content: "";
    width: 20px;
    height: 17px;
    margin-right: 0px;
    background-image: url("../img/icon-login.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 14px;
    top: 13px;
    opacity: 0.3;
}
.login:hover::before {
    content: "";
    width: 20px;
    height: 17px;
    margin-right: 0px;
    background-image: url("../img/icon-login-hover.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 14px;
    top: 13px;
    opacity: 1;
}
.user-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
.user-navigation a:hover {
    color: #ee3643;
}
.user-navigation a:focus {
    color: rgba(0, 0, 0, 0.3);
}
.site-navigation {
    padding: 0;
    margin: 0;
    background-color: #32425c;
    box-shadow: inset 0 -4px 0 0 #293449;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.site-navigation a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 17px;
    line-height: 17px;
    font-weight: 400;
    color: #ffffff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 23px;
    display: block;
}
li .main {
    padding-left: 52px;
}
li .contacts {
    padding-right: 54px;
}
.site-navigation a:hover {
    background-color: #212a3a;
}
.site-navigation a:focus {
    background-color: #1d2739;
    color: #a1a4a8;
}
.header {
    background-color: #f3f7f9;
}
.block {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    position: relative;
}
.block-materials {
    background-color: #ffbf47;
    position: relative;
}
/*блок материалы*/

.block-materials::after {
    content: "";
    width: 60px;
    height: 59px;
    margin-right: 0px;
    background-image: url("../img/new-flag.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1;
}
.block-materials::before {
    content: "";
    width: 44px;
    height: 65px;
    margin-right: 0px;
    background-image: url("../img/icon-1.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 43px;
    top: 30px;
    z-index: 2;
}
.block p {
    margin: 0px;
    padding-left: 22px;
    padding-top: 20px;
}
.block-tool {
    background-color: #3bbce3;
}
.block-tool::before {
    content: "";
    width: 75px;
    height: 61px;
    margin-right: 0px;
    background-image: url("../img/icon-2.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 28px;
    top: 32px;
    z-index: 2;
}
/*блок инструменты*/

.block-mechanism {
    background-color: #dc91d8;
}
.block-mechanism::before {
    content: "";
    width: 78px;
    height: 62px;
    margin-right: 0px;
    background-image: url("../img/icon-3.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 31px;
    top: 30px;
    z-index: 2;
    ;
}
/*блок техника*/

.block-sale {
    background-color: #8ed78f;
}
.block-sale::before {
    content: "";
    width: 59px;
    height: 72px;
    margin-right: 0px;
    background-image: url("../img/icon-4.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 45px;
    top: 25px;
    z-index: 2;
}
/*блок скидки*/

.block-free {
    background-color: #ffc047;
}
.block-free::before {
    content: "";
    width: 78px;
    height: 63px;
    margin-right: 0px;
    background-image: url("../img/icon-5.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 31px;
    top: 31px;
    z-index: 2;
}
/*блок доставка*/

.block-link {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);
    width: 135px;
    text-align: center;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
    position: absolute;
    left: 24px;
    bottom: 22px;
}
.block-link:hover {
    background-color: rgba(0, 0, 0, 0.2);
}
.block-link:focus {
    background-color: rgba(0, 0, 0, 0.3);
}
.btn-red {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #ee3643;
    border-radius: 2px;
    text-align: center;
}
.btn-red:hover {
    background-color: #ca2c37;
}
.btn-red:focus {
    background-color: #ba2732
}
.main-topic {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f9f5f0;
}
.main-gds-list h3 {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    color: #000000;
    background-color: #ffffff;
}
/*имя товара*/

.old-price {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #a9a9a9;
    text-decoration: line-through;
    min-height: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    background-color: #ffffff;
}
/*старая цена*/

.button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 700;
    color: #ffffff;
    background-color: #ee3643;
}
/*цена товара*/

.main-services {
    background-color: #f4f8fa;
}
.services-item:focus {
    color: #32425c;
    background-color: #ffffff;
}
.main-manufact-image {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    align-content: center;
    display: flex;
}
.image-BOSCH {
    position: absolute;
    top: 52px;
    left: 46px;
}
.image-Makita {
    position: absolute;
    top: 49px;
    left: 47px;
}
.image-DeWALT {
    position: absolute;
    top: 47px;
    left: 36px;
}
.image-interscol {
    position: absolute;
    top: 52px;
    left: 18px;
}
.image-hitachi {
    position: absolute;
    top: 57px;
    left: 27px;
}
.image-lg {
    position: absolute;
    top: 34px;
    left: 47px;
}
.image-aeg {
    position: absolute;
    top: 22px;
    left: 34px;
}
.image-metabo {
    position: absolute;
    top: 33px;
    left: 9px;
}
.main-manufact-image:hover {
    box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.3);
}
.main-manufact-image:focus {
    opacity: 0.30;
}
.main-services-topic {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
/*сервисы*/

.delivery-topic,
.guarantee-topic,
.credit-topic {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 36px;
    line-height: 24px;
    font-weight: 400;
    color: #32425c;
}
/*доставка, гарантия, кредит*/

.main-services p {
    font: inherit;
}
.main-services-list a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    background: #32425c;
}
/*покой*/

.main-services-list a:hover {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #ffffff;
    background: #293449;
}
/*наведение*/

.main-services-list .services-item-active {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
    color: #32425c;
    background: #ffffff;
}
/*актив*/

.line hr {
    position: absolute;
    left: 205px;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
    border: 0px;
}
.main-about-us h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
.main-contacts h3 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
.main-about-us li {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
}
/*список транспортных компаний*/

.footer-container {
    background-color: #32425c;
}
.footer-top-logo {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    box-shadow: inset 0 -5px 0 0 #b52933;
    background-color: #ee3643;
}
/*логотип*/

.footer-top-contacts {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f3f7f9;
}
.footer-top-list-first a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #f3f7f9;
}
.footer-top-list-first a:hover {
    text-decoration: underline;
}
.footer-top-list-first a:focus {
    color: rgba(241, 245, 247, 0.5);
}
.footer-top-list-second a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: #ffda96;
}
.footer-top-list-second a:hover {
    text-decoration: underline;
}
.footer-top-list-second a:focus {
    color: rgba(255, 209, 128, 0.5);
}
.footer-all {
    background-color: #293449;
}
.footer-bottom-copyright {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.footer-bottom-social a {
    color: #ffffff;
    background-color: #212a3a;
}
.footer-bottom-social a:hover,
.footer-bottom-social a:focus {
    color: #ffffff;
    background-color: #ee3643;
}
.footer-bottom-feedback p {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
}
.footer-bottom-feedback a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    color: #ffda96;
}
.footer-bottom-feedback a:hover {
    text-decoration: underline;
}
.footer-bottom-feedback a:focus,
.footer-bottom-feedback a:focus {
    color: #ee3643;
}
/*стили для каталога:*/

.inner-page {
    color: #000000;
    background-color: #ffffff;
}
.user-name {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 21px;
    color: #000000;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 47px;
    padding-right: 67px;
    position: relative;
    background-color: #ffffff;
}
.user-name::before {
    content: "";
    width: 20px;
    height: 18px;
    margin-right: 0px;
    background-image: url("../img/icon-user.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 13px;
    bottom: 13px;
}
.icon-logout {
    width: 20px;
    height: 17px;
    position: absolute;
    transform: translateX(-30px);
}
.icon-logout:hover path {
    fill: #32425c;
}
.icon-logout:focus path {
    fill: #c5c5c5;
}
.user-name:hover::before {
    opacity: 1;
    background-image: url("../img/icon-user-hover.svg");
}
.user-name:focus::before {
    opacity: 0.3;
    background-image: url("../img/icon-user.svg");
}
.user-navigation-link a {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #32425c;
    text-decoration: underline;
    background-color: #f1f5f7;
}
.user-name a:focus {
    color: rgba(0, 0, 0, 0.3);
}
.user-navigation-link a:focus {
    color: rgba(50, 66, 92, 0.3);
}
.user-navigation .user-name:hover {
    color: #000000;
}
.user-navigation .user-name:focus {
    color: #c5c5c5;
}
.main-chain a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}
.main-topic-catalog {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #f2f6f8;
}
.main-filter-topic {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
}
.filter-topic {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 30px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
}
.main-filter-form fieldset {
    border: none;
}
.min,
.max {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 17px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
    border: 0;
}
.manufacturer-checkbox,
.filter-option {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
}
.filter-button {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border-style: solid;
    border-width: 1px;
}
.main-sorting {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    text-transform: uppercase;
    background-color: #f7f3ec;
}
.main-sorting-list a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    border-bottom: 1px dashed #ee3643;
}
.main-sorting-list a:hover {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: inherit;
    border-bottom: 1px solid #ee3643;
}
.main-sorting-list a:focus {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #ee3643;
    text-transform: uppercase;
    border-bottom: 0px;
}
.direction-up-default::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-up-dir-activ.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.direction-up-default:hover::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-up-dir-hover.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.direction-up-default:focus::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-up-dir-activ.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.direction-down::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-down-dir.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.direction-down:hover::after {
    content: "";
    width: 11px;
    height: 10px;
    background-image: url("../img/icon-down-dir-hover.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: 0px;
    bottom: 5px;
}
.button-buy {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #63a63e;
    box-shadow: 0 3px 0 0 #367315;
    border-radius: 2px;
}
.actions .button-buy:hover {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #5fbb2d;
    box-shadow: 0 3px 0 0 #367315;
    border-radius: 2px;
}
.actions .button-buy:focus {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    background-color: #518534;
    border-radius: 2px;
}
.actions .button-mark {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #63a63e;
    border-radius: 2px;
    border-style: solid;
}
.actions .button-mark:hover {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #32425c;
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: #32425c;
    border-radius: 2px;
    border-style: solid;
}
.actions .button-mark:focus {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: rgba(50, 66, 92, 0.3);
    text-transform: uppercase;
    background-color: #ffffff;
    border-color: rgba(50, 66, 92, 0.3);
    border-radius: 2px;
    border-style: solid;
}
.list-hiden {
    list-style: none;
}
.filter-button,
.pagination-item a {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border-color: #e5e5e5;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}
.filter-button:hover,
.pagination-item a:hover {
    color: #000000;
    background-color: #ffffff;
    border-color: #bdc6ca;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}
.filter-button:focus,
.pagination-item a:focus {
    color: #000000;
    background-color: #ffffff;
    border-color: #ee3643;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
}
.pagination-item-active a {
    color: #ffffff;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    background-color: #ee3643;
}
.pagination-item-active a:focus {
    color: #ffffff;
    background-color: #ee3643;
    border: 0px;
}
.info-about {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
    background-color: #f2f6f8;
}
.info-about-topic {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
.cart-name {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
.cart-btn {
    background-color: #f1f1f1;
}
.continue-shopping-btn {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    text-transform: uppercase;
    background-color: #ffffff;
    border-radius: 2px;
}
/* ----- Сеточные стили ----- */

html,
body {
    min-width: 960px;
}
.container {
    width: 940px;
    margin: 0 auto;
    padding: 0 10px;
}
.heder {
    margin-bottom: 59px;
}
.header-top .container {
    display: flex;
    justify-content: space-between;
}
.header-top {
    height: 42px;
}
.logo {
    padding: 0px;
    margin: 0px;
    min-width: 110px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 13px;
    padding-left: 56px;
    padding-right: 54px;
}
.header-search-block {
    min-width: 270px;
    padding-left: 48px;
    padding-top: 11px;
    padding-bottom: 11px;
    padding-right: 50px;
}
.header-search::after {
    content: "";
    width: 17px;
    height: 17px;
    margin-right: 0px;
    background-image: url("../img/icon-search.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}
.header-search:hover::after {
    content: "";
    width: 17px;
    height: 17px;
    margin-right: 0px;
    background-image: url("../img/icon-search.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 1;
}
input[type="search"]:focus ~ .header-search::after {
    content: "";
    width: 17px;
    height: 17px;
    margin-right: 0px;
    background-image: url("../img/icon-search-focus.svg");
    background-color: inherit;
    background-position: 0 0;
    position: relative;
    left: 17px;
    top: 12px;
    opacity: 1;
    z-index: 50;
}
.header-search-block:focus {
    background: #ffffff url(../img/icon-search-focus.svg) no-repeat 17px 12px;
}
.header-search {
    margin: 0px;
    width: 270px;
    position: relative;
}
.header-marker::before {
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 0px;
    background-image: url("../img/icon-bookmark.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.3;
}
.header-marker:hover::before {
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 0px;
    background-image: url("../img/icon-bookmark.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 1;
}
.header-marker:focus::before {
    content: "";
    width: 14px;
    height: 16px;
    margin-right: 0px;
    background-image: url("../img/icon-bookmark.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 17px;
    top: 12px;
    opacity: 0.5;
}
.header-pannier::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 0px;
    background-image: url("../img/icon-cart.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 18px;
    top: 12px;
    opacity: 0.3;
}
.header-pannier:hover::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 0px;
    background-image: url("../img/icon-cart.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 18px;
    top: 12px;
    opacity: 1;
}
.header-pannier:focus::before {
    content: "";
    width: 15px;
    height: 15px;
    margin-right: 0px;
    background-image: url("../img/icon-cart.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 18px;
    top: 12px;
    opacity: 0.5;
}
.header-marker {
    min-width: 83px;
    height: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    padding-right: 25px;
    position: relative;
}
.header-pannier {
    min-width: 73px;
    height: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 30px;
    position: relative;
}
.inner-page .header-pannier {
    min-width: 78px;
    height: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 48px;
    padding-right: 25px;
    position: relative;
}
.header-checkout {
    min-width: 110px;
    height: 18px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 19px;
    padding-right: 21px;
    position: relative;
    left:
}
.header-bottom {
    min-height: 278px;
    min-width: 940px;
    margin-bottom: 60px;
}
.header-bottom .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.site-slogan {
    margin: 0px;
    width: 200px;
    padding-top: 39px;
    padding-bottom: 29px;
    padding-left: 52px;
}
.header-middle-contacts {
    padding-top: 47px;
    padding-bottom: 37px;
    margin: 0px;
    padding-right: 1px;
}
.inner-page .site-slogan {
    margin: 0px;
    width: 200px;
    padding-top: 39px;
    padding-bottom: 30px;
    padding-left: 52px;
    padding-right: 20px;
}
.user-navigation {
    padding-top: 46px;
    padding-bottom: 37px;
    margin: 0px;
}
.container {
    padding: 0px;
}
.main-container-block {
    padding: 0px;
    width: 940px;
    min-height: 409px;
    margin-bottom: 32px;
}
.block {
    padding: 0px;
    margin-bottom: 20px;
    height: 123px;
    width: 300px;
}
.slider {
    margin: 0px;
    padding: 0px;
    transform: translateY(-25px);
    flex-grow: 1;
}
.slider-item {
    display: none;
    height: 266px;
}
.slider-item:nth-child(1) {
    display: none;
}
.slider-item:nth-child(2) {
    display: none;
}
.slider-item:nth-child(1) {
    background-image: url("../img/slide-1.jpg");
    background-repeat: no-repeat;
}
.slider-item:nth-child(2) {
    background-image: url("../img/slide-2.jpg");
    background-repeat: no-repeat;
}
#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
    display: block;
}
#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
    display: block;
}
.slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
#product-1:checked ~ .slider-controls .slider-controls-item--1 {
    background-color: red;
    border: 2px #ffffff solid;
}
#product-2:checked ~ .slider-controls .slider-controls-item--2 {
    background-color: red;
    border: 2px #ffffff solid;
}
.slider-item h3 {
    max-width: 216px;
    margin: 0;
    padding-top: 25px;
    padding-left: 25px;
    font-size: 36px;
    line-height: 30px;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase;
}
.slider-item p {
    max-width: 230px;
    margin: 0;
    margin-top: 5px;
    margin-left: 25px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
    color: #ffffff;
}
.btn-back {
    background-image: url("../img/icon-left.svg");
    width: 22px;
    height: 41px;
    transform: translate(25px, 30px);
}
.btn-next {
    background-image: url("../img/icon-right.svg");
    width: 22px;
    height: 41px;
    transform: translate(577px, -10px);
}
.slider-item-button {
    display: block;
    padding-top: 12px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 45px;
    width: 100px;
    border-radius: 3px;
    transform: translate(25px, 41px);
}
.slider-controls {
    transform: translate(295px, 240px);
}
.slider-controls label {
    margin: 2px;
    display: inline-block;
    width: 2px;
    height: 2px;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    padding: 2px;
    /* Временно для демонстрации */
    
    background-color: #ffffff;
    border: 2px #ffffff solid;
}
.btn-catalog {
    margin: 0px;
    padding: 0px;
    padding-left: 50px;
    padding-right: 46px;
    padding-top: 11px;
    padding-bottom: 9px;
}
.wrapper-block {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}
.wrapper-main-gds {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    margin-bottom: 19px;
}
.wrapper-main-manufact {
    display: flex;
    justify-content: space-between;
    background-color: #f9f5f0;
    margin-bottom: 20px;
}
.main-topic {
    margin: 0px;
    padding: 0px;
    width: 940px;
    padding-left: 29px;
    padding-top: 28px;
    padding-bottom: 30px;
}
.wrapper-main-manufact .main-topic {
    margin: 0px;
    padding: 0px;
    width: 940px;
    padding-left: 25px;
    padding-top: 31px;
    padding-bottom: 29px;
}
.btn-all-gds {
    width: 257px;
    height: 18px;
    position: relative;
    top: 23px;
    right: 24px;
    padding: 10px 36px;
    border-radius: 3px;
}
.btn-manufact {
    width: 257px;
    height: 18px;
    position: relative;
    top: 26px;
    right: 24px;
    padding: 10px 36px;
    border-radius: 3px;
}
.wrapper-gds {
    padding: 0px;
    width: 940px;
    min-height: 318px;
    margin-bottom: 0px;
}
.main-gds-item:hover {
    box-shadow: 0px 15px 30px 1px rgba(0, 0, 0, 0.3);
}
.main-gds-item {
    margin: 0px;
    padding: 0px;
    width: 218px;
    height: 316px;
    margin-bottom: 20px;
    border-style: solid;
    border-color: #eaeaea;
    border-width: 1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.flag .actions::before {
    content: "";
    width: 60px;
    height: 59px;
    margin-right: 0px;
    background-image: url("../img/new-flag.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: -1;
}
.flag::after {
    content: "";
    width: 60px;
    height: 59px;
    margin-right: 0px;
    background-image: url("../img/new-flag.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -1px;
    top: -1px;
    z-index: 1;
}
.main-gds-list {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
}
.main-gds-item .flag {
    position: absolute;
    top: -1px;
    right: -1px;
    width: 60px;
    height: 60px;
    text-indent: -1000px;
    overflow: hidden;
    z-index: 20;
}
.main-gds-item .actions {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 218px;
    height: 88px;
    padding: 40px 0;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 10;
}
.main-gds-image {
    margin: 0;
    width: 218px;
    height: 166px;
    margin-top: 13px;
}
.main-gds-image img {
    max-width: 100%;
}
.main-gds-item {
    position: relative;
}
.BFG-9000 {
    position: relative;
    top: -8px;
    right: 1px;
}
.BFG-3000 {
    position: relative;
    top: 15px;
    right: 6px;
}
.BFG-6000 {
    position: relative;
    top: 8px;
    right: 11px;
}
.BFG-2000 {
    position: relative;
    top: 15px;
    right: 14px;
}
.main-gds-id {
    margin: 0px;
}
.old-price {
    margin-top: 11px;
}
.main-gds-item-price {
    position: absolute;
    bottom: 12px;
    left: 42px;
}
.main-gds-item-price .button {
    padding: 0px;
    position: relative;
    width: 90px;
    margin: 10px auto;
    margin-bottom: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 36px;
    padding-right: 23px;
    color: white;
    background: #ee3643;
    border-radius: 3px;
}
.main-gds-item-price .button:after {
    content: "";
    position: absolute;
    width: 26px;
    height: 26px;
    background-color: #ee3643;
    transform: rotate(45deg);
    left: 89%;
    bottom: 16%;
}
.main-gds-item .button-buy {
    display: block;
    width: 135px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 11px 0;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.main-gds-item .button-mark {
    display: block;
    width: 128px;
    margin: 0 auto;
    margin-bottom: 7px;
    padding: 8px 0;
    border-bottom-color: #367315;
    background-color: #63a63e;
    color: white;
    font-size: 14px;
    font-weight: normal;
    font-family: "Cuprum", sans-serif;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 3px;
}
.inner-page .main-gds-list {
    width: 700px;
    margin: 20px auto;
    display: flex;
    justify-content: flex-start;
}
.inner-page .main-gds-item {
    display: inline-block;
    width: 218px;
    margin-right: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    line-height: 20px;
    font-weight: bold;
    text-align: center;
}
.main-gds-list {
    font-size: 0;
}
.main-gds-item {
    font-size: 16px;
}
.inner-page .main-gds-item:nth-child(3n) {
    margin-right: 0px;
}
.main-gds-item .button-mark {
    color: #32425c;
    background: white;
    border-bottom-color: #63a63e;
}
.main-gds-item .actions {
    display: none;
}
.main-gds-item:hover .actions {
    display: block;
}
.main-gds-item h3 {
    margin: 0px;
}
.main-manufact {
    margin-bottom: 65px;
}
.main-gds-category {
    margin: 0px;
}
.manufact-item {
    width: 218px;
    min-height: 143px;
    border-style: solid;
    border-color: #eaeaea;
    border-width: 1px;
    margin-bottom: 20px;
    position: relative;
}
.manufact-item:hover,
.manufact-item:focus {
    border: 1px rgba(234, 234, 234, 0) solid;
}
.main-manufact-list {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.services-item {
    padding-top: 13px;
    padding-bottom: 18px;
    padding-left: 22px;
    margin: 0px;
    display: block;
    width: 218px;
}
.main-services {
    padding: 0px;
    width: 100%;
    margin-bottom: 83px;
}
.wrapper-services {
    padding-top: 68px;
    display: flex;
    flex-direction: column;
}
.services-row {
    padding: 0px;
    margin: 0px;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 100px;
}
.block-services {
    padding-top: 0px;
    min-width: 500px;
}
.main-services-topic {
    margin-top: 0px;
    padding: 0px;
    margin-bottom: 28px;
}
.main-services-slogan {
    position: relative;
    z-index: 100;
    margin: 0px;
}
.services-slogan {
    margin: 0px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
    color: #000000;
}
.services-slogan-bottom {
    margin-bottom: 69px;
    margin-top: 0px;
}
.main-services-list {
    display: inline-block;
    margin: 0px;
    padding: 0px;
    width: 239px;
    padding-left: 0px;
    position: relative;
    vertical-align: middle;
}
.main-services-list::after {
    content: "";
    width: 10px;
    height: 272px;
    margin-right: 0px;
    background-image: url("../img/Layer 118.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -1px;
    top: -45px;
}
.services-topic {
    padding: 0px;
    margin-top: 4px;
    margin-bottom: 32px;
}
.wrapper-block-delivery {
    display: block;
    padding-top: 0px;
    width: 278px;
    margin-left: 82px;
    position: relative;
}
.wrapper-block-delivery::after {
    content: "";
    width: 468px;
    height: 261px;
    margin-right: 0px;
    background-image: url("../img/delivery.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -340px;
    top: 23px;
    z-index: 1;
}
.wrapper-block-guarantee {
    display: none;
    padding-top: 0px;
    width: 375px;
    margin-left: 82px;
    position: relative;
}
.wrapper-block-guarantee::after {
    content: "";
    width: 500px;
    height: 283px;
    margin-right: 0px;
    background-image: url("../img/garant.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -260px;
    top: -5px;
    z-index: 1;
}
.wrapper-block-credit {
    display: none;
    padding-top: 0px;
    width: 450px;
    margin-left: 82px;
    position: relative;
}
.wrapper-block-credit::after {
    content: "";
    width: 500px;
    height: 283px;
    margin-right: 0px;
    background-image: url("../img/credit.png");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    right: -200px;
    top: -5px;
    z-index: 1;
}
.main-about-us {
    padding: 0px;
    min-height: 300px;
    width: 560px;
}
.main-about-us-topic {
    margin-top: 0px;
    margin-bottom: 29px;
    text-transform: uppercase;
}
.main-about-us-slogan {
    margin-top: 0px;
    margin-bottom: 24px;
}
.main-transport-companies-list {
    position: relative;
    top: -3px;
    padding-left: 37px;
    padding-bottom: 34px;
    margin: 0px;
    margin-top: 22px;
}
.companies-item::before {
    content: "";
    display: block;
    position: relative;
    top: 10px;
    left: -37px;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
}
.about-us,
.paragraph {
    margin: 0;
}
.main-contacts-topic {
    margin: 0px;
    margin-bottom: 28px;
}
.companies-item {
    margin-top: 17px;
    margin-bottom: 0px;
}
.main-contacts {
    padding: 0px;
    width: 300px;
    min-height: 300px;
}
.main-contacts-slogan {
    margin: 0px;
    padding: 0px;
}
.main-contacts-map {
    padding-bottom: 32px;
    margin: 0px;
    margin-top: 31px;
}
.wrapper-about-us {
    display: flex;
    justify-content: space-between;
}
.footer-all {
    min-height: 300px;
    width: auto;
}
.wrapper-footer-container {
    background-color: #32425c;
    width: 100%;
}
.footer-container {
    justify-content: space-between;
    display: flex;
    min-height: 193px;
}
.footer-top-logo {
    width: 220px;
    padding-top: 19px;
    padding-bottom: 19px;
    margin: 0px;
    text-align: center;
    margin-bottom: 28px;
}
.footer-top-contacts {
    width: 330px;
    padding: 0px;
    margin: 0px;
    padding-left: 3px;
}
.footer-top {
    margin: 0px;
    display: flex;
    flex-direction: column;
}
.footer-top-list-first {
    width: 549px;
    padding-left: 59px;
    margin-top: 30px;
    margin-bottom: 11px;
    display: flex;
    justify-content: space-between;
}
.footer-top-list-first a {
    display: block;
    height: 30px;
    padding-top: 9px;
    padding-bottom: 8px;
    padding-right: 0px;
}
.footer-top-list-second {
    padding: 0px;
    margin: 0px;
    width: 526px;
    padding-left: 82px;
    display: flex;
    justify-content: space-between;
}
.footer-top-list-second a {
    display: block;
    padding-top: 9px;
    padding-bottom: 8px;
}
.footer-bottom-copyright {
    margin: 0px;
    padding: 0px;
    width: 300px;
    padding-top: 4px;
    padding-left: 2px;
}
.footer-bottom-copyright p {
    margin: 0px;
}
.footer-bottom-social ul {
    padding: 0px;
    margin: 0px;
    width: 300px;
    text-align: center;
}
.social-button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    border-radius: 50%;
}
.footer-bottom-social ul {
    padding: 0px;
    padding-left: 89px;
    padding-top: 5px;
    display: flex;
    width: 130px;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
}
.footer-bottom-feedback {
    width: auto;
}
.wrapper-footer-bottom {
    align-items: center;
    height: 107px;
    display: flex;
}
.wrapper-feedback {
    padding: 0px;
    margin-left: 120px;
    display: flex;
    justify-content: space-around;
}
.wrapper-feedback p {
    margin: 0;
}
.footer-feedback {
    margin-right: 52px;
}
.write-us {
    display: fixed;
}
.btn-about-us {
    display: block;
    width: 219px;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 1px;
    border-radius: 3px;
}
.btn-write {
    min-width: 184px;
    display: block;
    padding-top: 11px;
    padding-bottom: 9px;
    padding-left: 61px;
    padding-right: 55px;
}
.btn-catalog {
    position: absolute;
    z-index: 2;
    top: 206px;
    left: 25px;
}
/*сеточные стили для внутренней страницы*/

.cart {
    display: none
}
.inner-page header {
    min-height: 320px;
    margin-bottom: 20px;
    padding: 0px;
    margin: 0px;
    min-width: 100%;
}
.inner-page .header-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 18px;
}
.inner-page .header-nav {
    padding-bottom: 60px;
}
.main-chain {
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    margin-bottom: 17px;
    min-height: 18px;
    position: relative;
}
.main-chain::before {
    content: "";
    width: 14px;
    height: 12px;
    margin-right: 0px;
    background-image: url("../img/icon-home.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: -2px;
    top: 5px;
}
.main-chain li {
    position: relative;
    margin-right: 41px;
    left: 14px;
}
.main-chain li:not(:first-child)::before {
    content: "";
    width: 7px;
    height: 12px;
    margin-right: 0px;
    background-image: url("../img/icon-right-small.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: -26px;
    top: 5px;
}
.main-topic-catalog {
    padding-top: 30px;
    padding-bottom: 29px;
    padding-left: 28px;
    margin: 0px;
    margin-bottom: 20px;
}
.wrapper-filter {
    width: 220px;
}
.wrapper-sorting {
    min-height: 1202px;
    width: 700px;
}
.catalog-columns {
    display: flex;
    justify-content: space-between;
}
.main-filter-topic {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    min-width: 202px;
    margin: 0px;
    border-radius: 2px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    border-radius: 3px;
}
.main-sorting {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 19px;
    min-width: 202px;
    margin: 0px;
    border-radius: 2px;
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    border-radius: 3px;
}
.main-sorting-topic {
    padding-right: 100px;
    margin: 0px;
}
.main-sorting-list {
    min-width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px;
    margin: 0px;
    position: relative;
    right: -40px;
}
.direction-up-default {
    position: absolute;
    right: 10px;
    top: 20px;
}
.direction-down {
    position: relative;
    top: 2px;
    right: -23px;
}
.main-sorting {
    margin-bottom: 20px;
    min-width: 620px;
    display: flex;
    justify-content: flex-start;
}
.pagination-item {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
}
.pagination-number {
    min-width: 37px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    text-align: center;
}
.button-next {
    min-width: 138px;
    padding-top: 7px;
    padding-bottom: 5px;
    display: block;
    text-align: center;
}
.pagination-list {
    margin: 0px;
    padding: 0px;
    margin-top: 32px;
    margin-bottom: 57px;
}
.filter-range {
    margin: 0px;
    display: block;
    width: 220px;
    min-height: 81px;
    background: #f7f3ec;
    margin-bottom: 7px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    position: relative;
}
.filter-circle-min {
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 20px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.dash {
    display: block;
    width: 10px;
    height: 1px;
    background: #000000;
    position: relative;
    top: 20px;
    left: 0px;
}
.dot {
    display: block;
    width: 4px;
    height: 4px;
    background: #ababab;
    border-radius: 50%;
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 2;
}
.filter-circle-max {
    display: block;
    width: 20px;
    height: 20px;
    background: #ffffff;
    border-radius: 50%;
    position: absolute;
    top: 30px;
    right: 40px;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.3);
}
.filter-line-green {
    display: block;
    width: 120px;
    height: 2px;
    background: #00ca74;
    position: absolute;
    top: 39px;
    left: 40px;
}
.filter-line {
    display: block;
    width: 20px;
    height: 2px;
    background: #d7dcde;
    position: absolute;
    top: 39px;
    right: 20px;
}
.min {
    width: 95px;
    min-height: 36px;
    border-radius: 3px;
}
.max {
    width: 95px;
    min-height: 36px;
    border-radius: 3px;
}
.wrapper-pices {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    padding-bottom: 25px;
    margin-bottom: 16px;
}
.main-filter-wrapper {
    margin: 0px;
    padding: 0px;
}
.main-filter-topic {
    margin-bottom: 13px;
}
.filter-topic {
    margin-bottom: 14px;
}
.wrapper-manufacturer {
    margin: 0px;
    padding-bottom: 2px;
    display: flex;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 18px;
}
.main-filter-option {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    margin-bottom: 20px;
    padding-left: 35px;
}
.filter-option {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    background-color: #ffffff;
}
.filter-checkbox-off:checked + label:hover::before,
.filter-checkbox-off+label:hover::before,
.filter-supply-radio-off:checked +label:hover::before,
.filter-supply-radio-off +label:hover::before {
    opacity: 1;
}
.filter-checkbox-off:disabled + label::before {
    content: "";
    width: 23px;
    height: 23px;
    margin-right: 0px;
    background-image: url("../img/checkbox-off-dis.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 0px;
    top: -2px;
    opacity: 0.8;
}
.filter-checkbox-off:checked + label::before {
    content: "";
    width: 27px;
    height: 23px;
    margin-right: 0px;
    background-image: url("../img/checkbox-on.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 0px;
    top: -2px;
    opacity: 0.8;
}
.filter-checkbox-off+label::before {
    content: "";
    width: 23px;
    height: 23px;
    margin-right: 0px;
    background-image: url("../img/checkbox-off.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 0px;
    top: -2px;
    opacity: 0.8;
}
.filter-supply-radio-off:checked +label::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 0px;
    background-image: url("../img/radio-on.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 0px;
    top: -2px;
    opacity: 0.8;
}
.filter-supply-radio-off +label::before {
    content: "";
    width: 25px;
    height: 25px;
    margin-right: 0px;
    background-image: url("../img/radio-off.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 0px;
    top: -2px;
    opacity: 0.8;
}
.manufacturer-checkbox {
    margin: 0px;
    padding: 0px;
}
.wrapper-filter-option {
    margin: 0px;
    padding: 0px;
    display: flex;
    margin-bottom: 58px;
}
.filter-option {
    margin: 0px;
    padding: 0px;
}
.filter-button {
    margin: 0px;
    padding: 0px;
    width: 140px;
    height: 38px;
}
.info-about-topic {
    padding: 0px;
    margin: 0px;
    margin-bottom: 30px;
}
.wrapper-info-about {
    width: 100%;
    background-color: #f2f6f8;
}
.information {
    margin: 0px;
    padding-bottom: 70px;
}
.info-about {
    padding-top: 67px;
}
.inner-page .footer-all {
    margin-top: 0px;
}
.footer-all-catalog {
    background-color: #293449;
    margin: 0px;
    padding: 0px;
    min-height: 300px;
    width: auto;
}
.footer-all {
    margin-top: 86px;
}
.main-catalog {
    min-height: 1540px;
}
.inner-page .header-pannier {
    background-color: #ee3643;
}
.inner-page .header-pannier:hover {
    background-color: #ca2c37;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/*форма главной страницы*/

.form {
    position: fixed;
    color: #000000;
    background-color: #ffffff;
    border-top: 8px #ff5357 solid;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.3);
}
.form-write-us {
    display: none;
    top: 120px;
    left: 50%;
    width: 620px;
    z-index: 1000;
    margin-left: -310px;
}
.form-show {
    display: block;
}
.form-close {
    width: 25px;
    height: 25px;
    font-size: 0;
    border: 0;
    cursor: pointer;
    position: absolute;
    top: 9px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.0);
}
.form-close::before,
.form-close::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: #ee3643;
    top: 10px;
    left: 2px;
    border-radius: 2px;
}
.form-close::before {
    transform: rotate(45deg);
}
.form-close::after {
    transform: rotate(-45deg);
}
.form-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 35px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
}
.form-top p:nth-child(3) {
    margin-top: 7px;
}
.taxtarea-topic {
    margin: 0;
}
.form-bottom {
    background-color: #f4f4f4;
    padding: 40px 80px;
}
.btn-send {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    color: #ffffff;
    background-color: #ee3643;
    border-radius: 2px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    text-transform: uppercase;
}
.form-top input[type="text"]::-webkit-input-placeholder,
.form-top input[type="email"]::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #a9a9a9;
    z-index: 1;
}
.form-top input[type="text"],
.form-top input[type="email"] {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
    box-sizing: border-box;
    width: 220px;
    padding: 8px 14px;
    margin: 0;
}
.users-massage {
    width: 432px;
    padding: 8px;
    padding-left: 15px;
    margin: 0;
}
.form-write-us label {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    margin-bottom: 10px;
    display: block;
}
.users-name,
.users-email,
.users-massage {
    font-family: "PT Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
    color: #a9a9a9;
    border: 2px #dee3e4 solid;
    border-radius: 2px;
}
/*форма добавления товара*/

.form-cart {
    display: none;
    top: 120px;
    left: 50%;
    margin-left: -310px;
    z-index: 1000;
    width: 620px;
    height: 270px;
    box-shadow: 0px 10px 50px 10px rgba(0, 0, 0, 0.3);
}
.form-cart h2 {
    font-family: "Cuprum", Arial, sans-serif;
    font-size: 30px;
    line-height: 18px;
    font-weight: 400;
    color: #000000;
    margin-top: 71px;
    margin-left: 180px;
    display: block;
    padding-bottom: 50px;
}
.form-cart h2::before {
    content: "";
    width: 66px;
    height: 66px;
    margin-right: 0px;
    background-image: url("../img/form-1.svg");
    background-color: inherit;
    background-position: 0 0;
    position: absolute;
    left: 80px;
    top: 48px;
}
.inner-page .form-bottom {
    position: absolute;
    top: 160px;
    height: 113px;
}
.form-cart-btn {
    display: flex;
    justify-content: space-between;
}
.form-cart-btn a {
    display: block;
    width: 220px;
    margin-top: 27px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}
.form-cart-btn p:nth-child(1) {
    margin-left: 80px;
}
.form-cart-btn p:nth-child(2) {
    margin-right: 80px;
}
/*карта*/

.form-map {
    display: none;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 940px;
    height: 446px;
    border: none;
    margin-left: -470px;
    margin-top: -224px;
    z-index: 1000;
}
.form-map p {
    position: relative;
    left: 0;
    top: -13px;
}